<mat-sidenav-container class="shell-container">
  <mat-sidenav
    #drawer
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
    class="shell-sidenav"
  >
    <div class="brand">
      <mat-icon>garage</mat-icon>
      <span>Garage Systems</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.route) {
        <a
          mat-list-item
          [routerLink]="item.route"
          routerLinkActive="active-link"
          (click)="isHandset() ? drawer.close() : null"
        >
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="top-toolbar">
      @if (isHandset()) {
        <button mat-icon-button (click)="drawer.toggle()" aria-label="Toggle navigation">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>Parking Management</span>
    </mat-toolbar>

    <main class="page-content">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
